.download-btn[data-v-c7a4a7f8]{padding:8px 16px;background-color:#8b4513;color:#fff;border:none;border-radius:4px;cursor:pointer;text-decoration:none}.download-btn[data-v-c7a4a7f8]:hover{background-color:#a8643c}
